<h2 class="text-lg font-bold mb-3">アルバムの使い方</h2>
<div class="divide-y divide-dotted divide-gray-300">
  <p class="my-10 mx-3 text-center text-sm md:text-base">写真やスクリーンショットなどの画像を保存できる<br>アルバム機能の実装予定です！</p>
</div>