<h2 class="text-lg font-bold mb-3">チェックリストの使い方</h2>
<p  class="text-sm md:text-base">⚠️しおりのメンバーの場合のみ使用できます。</p>

<div class="divide-y divide-dotted  divide-gray-300">

  <div>
    <h3 class="font-bold m-1 md:m-3">チェックリストの作り方</h3>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>1. 画面下部の「ノート」をクリックし、「チェックリスト」を選択します。画面右下のプラスボタンからチェックリストの登録ができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/0cf29cb77d83ba8b28983cca826de5ea.gif" alt="Image from Gyazo">
    </div>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>2. チェックリストを選択するとチェックリストの項目を登録・編集できます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/4b3785dd24fbef689cc1f4008ffd9083.gif" alt="Image from Gyazo">
    </div>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>3. チェックリストの項目ごとにリマインダーを設定できます。</p>
        <p>リマインダーの通知を受け取るには、<a href="#how_to_line_reminder" class="link link-primary">「LINEリマインダー通知の受け取り方」</a>を確認してください。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/c642ac634a938a75b0ca93d8d852bc58.gif" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3" id="how_to_line_reminder">LINEリマインダー通知の受け取り方</h3>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4">
      <div class="text-sm md:text-base space-y-2 md:space-y-4">
        <p>1. たびくりっぷ公式LINEを友だち追加</p>
        <p>ボタンかQRコードから友だち追加できます。</p>
      </div>
      <div class="md:flex-1 flex flex-col items-center gap-2">
        <a href="https://lin.ee/NiZmE8a"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" target="_blank" rel="noopener noreferrer" class="w-20 md:w-40 mb-4 md:mb-8"></a>
        <img class="w-20 md:w-40 mb-4 md:mb-8" src="https://qr-official.line.me/gs/M_450oywta_GW.png?oat_content=qr">
      </div>
    </div>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>2. LINEアカウント連携</p>
        <p>※LINEログインを利用されている方は不要です。<br>LINEログインを利用していない場合に以下の手順を実行してください。</p>
        <p>① <%= link_to "マイページ", users_profile_path, class:"link link-primary" %>を確認します。</p>
        <p>② 「LINEアカウント連携」をクリックします。</p>
        <p>③ 「LINEアカウント連携用トークン」をコピーします。</p>
        <p>④ コピーした「LINEアカウント連携用トークン」をたびくりっぷ公式LINEに送信します。</p>
        <p>⑤ たびくりっぷ公式LINEから「LINEアカウントとたびくりっぷのアカウント連携が完了しました！」のメッセージが届いたらLINEアカウント連携完了です。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/f29184180c679d22d15db61e2ad80019.gif" alt="Image from Gyazo">
    </div>
  </div>

</div>
