<h2 class="text-lg font-bold mb-3">マップの使い方</h2>

<p  class="text-sm md:text-base">⚠️しおりのメンバーかどうかによってマップの位置が異なります。</p>

<div class="divide-y divide-dotted  divide-gray-300">

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりのメンバーの場合</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「マップ」をクリックすると、スケジュールで登録された住所にピンが表示されます。</p>
        <span class="text-xs">⚠️現在はオートコンプリート機能で入力された場所のみピンが表示されます</span>
        <p>ピンをクリックすると、紐づけられたスケジュールを確認することができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/e7bef2b1e344686ce6f740e55ccddedd.gif" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりのメンバーではない場合</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「マップ」をクリックすると、スケジュールで登録された住所にピンが表示されます。</p>
        <span class="text-xs">⚠️現在はオートコンプリート機能で入力された場所のみピンが表示されます</span>
        <p>ピンをクリックすると、紐づけられたスケジュールを確認することができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/7aa8014e125431ef22f11dd79a69c83c.gif" alt="Image from Gyazo">
    </div>
  </div>


</div>