<h2 class="text-lg font-bold mb-3">ノートの使い方</h2>
<p class="text-sm md:text-base">⚠️しおりのメンバーの場合のみ使用できます。</p>

<div class="divide-y divide-dotted  divide-gray-300">

  <div>
    <h3 class="font-bold m-1 md:m-3">ノートの作り方</h3>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「ノート」をクリックします。画面右下のプラスボタンからノートの登録ができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/388d38f7d99d89f8bb70dc493f354ca9.gif" alt="Image from Gyazo">
    </div>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>ノートを選択すると閲覧・編集できます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/04c5ecee8f50feaa1da7c3a80a30ca4b.gif" alt="Image from Gyazo">
    </div>

    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>チェックをつけて完了状況を管理できます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/f4e94d652186f24e55345b37046ab2a3.png" alt="Image from Gyazo">
    </div>
  </div>

</div>