<h2 class="text-lg font-bold mb-3">スケジュールの使い方</h2>

<p  class="text-sm md:text-base">⚠️しおりのメンバーかどうかによってスケジュールの確認方法が異なります。</p>

<div class="divide-y divide-dotted  divide-gray-300">
  <div>
    <h3 class="font-bold m-1 md:m-3">しおりのメンバーの場合</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「スケジュール」をクリックすると、スケジュールの登録・編集・表示ができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/8abed109e34e45a8546d021642f2da6d.gif" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりのメンバーではない場合</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>しおり情報画面をスクロールし、「スケジュールを見る」をクリックするとスケジュールを表示することができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/c526f68ad7a7e6e7f508e1d1e1c18a45.gif" alt="Image from Gyazo">
    </div>
  </div>
</div>