<h2 class="text-lg font-bold mb-3">しおりの使い方</h2>

<div class="divide-y divide-dotted divide-gray-300">

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりの検索</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「しおり検索」をクリックすると、公開設定されたしおりが一覧表示されます。</p>
        <p>「エリア」と「旅行スタイル」で絞り込み検索することができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/531c6abb99e79f3be8fe5bc28eafca1e.png" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりの作成</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>画面下部の「しおり作成」をクリックすると、しおり作成フォームが表示されます。</p>
        <p>作成されたしおりは画面下部の「マイしおり」に一覧表示されます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/d245d70693421ea7a27449daf03f284e.gif" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりに招待</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>しおり情報画面で画面をスクロールし「しおりのメンバーリスト・しおりに招待」ボタンをクリックします。</p>
        <p>招待したいメンバーに招待リンクを共有するか招待メールを送信することで招待することができます。</p>
        <p>⚠️しおりに参加するには、たびくりっぷに新規登録・ログインが必要です。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/1bcf0a3ebbf5d6ef599a2077a4d00dd9.gif" alt="Image from Gyazo">
    </div>
  </div>

  <div>
    <h3 class="font-bold m-1 md:m-3">しおりのブックマーク</h3>
    <div class="flex flex-col flex-1 md:flex-row m-3 gap-4 ">
      <div class="md:flex-1 text-sm md:text-base space-y-2 md:space-y-4">
        <p>他のユーザーが投稿し、しおり検索画面に表示されているしおりはブックマークすることができます。</p>
        <p>画面右上のナビゲーションメニューからブックマーク一覧を確認することができます。</p>
      </div>
      <img class="w-40 md:w-64 rounded shadow mx-auto md:mx-0 md:flex-1" src="https://i.gyazo.com/edb8bc79201bdd7f671f2fdd10c3b4a0.jpg" alt="Image from Gyazo">
    </div>
  </div>
</div>