<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <div class="flex items-center justify-between">
    <h2 class="md:text-lg font-bold md:ml-5"><%= @note.title %></h2>
      <div class="justify-end">
        <% if @travel_book.owned_by_user?(current_user) %>
          <%= link_to edit_note_path(@note), class:"hover:opacity-50" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to note_path(@note), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="markdown-content md:mx-5">
      <%= markdown(@note.body) %>
    </div>
  </div>
</div>
