<div class="container">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <%if @travel_books.present? %>
      <%= render "my_travel_book", travel_books: @travel_books %>
    <% else %>
      <%= t(".no_data") %>
    <% end %>
  </div>
</div>