<% if resource.errors.any? %>
  <div data-turbo-cache="false">
    <ul class="p-2">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-red-500 text-sm"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>