<script>
let popup, Popup;
let map;
function initMap() {
  // Railsから渡されたスポットデータをJSで扱えるようにパース
  const spots = <%= raw @spots.to_json(only: [:id, :latitude, :longitude, :name, :schedule_uuid ]) %>;

  // 表示するMapの位置を緯度経度で指定
  // @spotsが空の場合、東京駅をセンターにする
  // @spotsが空でない場合、場所が紐づく一つ目のスケジュールの場所をセンターにする
  const position = Array.isArray(spots) && spots.length > 0
    ? { lat: parseFloat(spots[0].latitude), lng: parseFloat(spots[0].longitude) }
    : { lat: 35.6803997, lng: 139.7690174 }; // デフォルトの位置（東京駅）

  map = new google.maps.Map(document.getElementById("map"),  {
    zoom: 11,
    center: position,
    mapId: "DEMO_MAP_ID", // 高度なmarkerを使用するために必要
  });

  spots.forEach((spot,i) =>{
    // markerの設定
    //  const marker = new google.maps.marker.AdvancedMarkerElement({
      // position: {lat: parseFloat(spot.latitude), lng: parseFloat(spot.longitude)},
      // map: map,
      // title: spot.name
    // });
    // markerに登録された場所のindex番号を表示
    const pinTextGlyph = new google.maps.marker.PinElement({
      glyph: `${i+1}`,
      glyphColor: "white",
    });
    // markerを表示
    const markerViewGlyphText = new google.maps.marker.AdvancedMarkerElement({
      map,
      position: {lat: parseFloat(spot.latitude), lng: parseFloat(spot.longitude)},
      content: pinTextGlyph.element,
    });

    // markerがクリックされた時に地図の詳細情報を表示
    markerViewGlyphText.addListener("click", ()=> {
      // URLを生成
      const scheduleUrl = "<%= request.base_url %>/schedules/" + spot.schedule_uuid;
      // popupを表示
      document.getElementById("popup").innerHTML =
      `<div class="card bg-base-100 w-96 shadow-md">
        <div class="card-body">
          <div class="flex items-center justify-between">
            <a href="${scheduleUrl}" class="text-blue-500 underline">${spot.name}</a>
            <button id="close-btn" class="btn btn-square btn-sm">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>`;

      // 削除ボタンクリック時にpopupを削除
      document.querySelector("#close-btn").addEventListener("click", () => {
        document.getElementById("popup").innerHTML = "";
      });
    });
  });
}
</script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&loading=async&libraries=marker&callback=initMap">
</script>