<div class="flex gap-4">
  <div>
    <p><%= fmt_datetime(schedule.start_date) %></p>
    <p>~ <%= fmt_datetime(schedule.end_date) %></p>
  </div>
  <div class="flex items-center">
    <i class="fa-solid fa-train-subway"></i>
  </div>
  <div class="flex items-center">
      <%= schedule.title %>
  </div>
</div>
