<div class="bg-white rounded-lg shadow-md p-6 m-6">
  <%= link_to travel_book_schedules_path(@travel_book) do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <%= render "form", schedule: @schedule %>
</div>