<div id="map-container" class="relative w-full h-[calc(100vh-64px)]">
  <div id="map" class="w-full h-full"></div>
  <div id="popup" class="absolute bottom-[calc(64px+10px)] left-1/2 -translate-x-1/2"></div>
</div>
<%= render "map" %>