<div class="btm-nav">
  <button>
    <i class="fa-solid fa-magnifying-glass"></i>
    <span class="btm-nav-label">しおり検索</span>
  </button>
  <button class="active">
    <i class="fa-solid fa-map-location-dot"></i>
    <span class="btm-nav-label">マイしおり</span>
  </button>
  <button>
    <i class="fa-solid fa-circle-user"></i>
    <span class="btm-nav-label">マイページ</span>
  </button>
</div>
