<% if object.errors.any? %>
  <div role="alert" class="alert alert-error">
    <ul>
      <% object.errors.each do | error | %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>