<footer class="footer footer-center bg-primary text-white p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to t("defaults.policy"), policy_path, class: "link link-hover" %>
    <%= link_to t("defaults.terms"), terms_path, class: "link link-hover" %>
    <%= link_to t("defaults.form"), form_path, class: "link link-hover" %>
  </nav>
  <p>Copyright © 2025 たびくりっぷ</p>
</footer>