<footer class="footer footer-center bg-primary text-white p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "利用規約", "#", class: "link link-hover" %>
    <%= link_to "お問い合わせ", "#", class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", "#", class: "link link-hover" %>
    <p>Copyright © 2025 TabiClip</p>
  </nav>
</footer>