<%= link_to check_list_path(check_list), data: { turbo: false }, class: "block" do %>
  <div class="bg-base-100 flex items-center my-5 p-5 rounded-lg hover:opacity-50">
    <i class="fa-solid fa-square-check"></i>
    <div class="ml-3"><%= check_list.title %></div>
  </div>
<% end %>