<div class="bg-white rounded-lg shadow-md p-6 m-6">
  <div class="flex items-center justify-between">
    <%= link_to travel_book_check_lists_path(@travel_book) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h1 class="text-center flex-1 text-lg font-bold">チェックリストを編集</h1>
  </div>
  <%= render "form", check_list: @check_list, travel_book: @travel_book %>
</div>