@tailwind base;
@tailwind components;
@tailwind utilities;

.travel-book-image {
  width: 100%;
  height: 250px;
  /* height: 100%; */
  object-fit: cover;
  display: block;
}

/* @applyでtailwindのクラスをまとめたクラスを作ることができる */
.markdown-content a {
  @apply link link-primary;
}

/* 空白や改行がブラウザでの表示に反映・要素のボックス端で自動で折り返し(連続した空白は折りたたむ) */
.markdown-content {
  white-space: pre-line;
}

.field_with_errors {
  display: contents;
}

/* アプリの使い方のタブ */
.is-active {
  @apply rounded-full bg-primary text-sm py-2 px-5 cursor-pointer
}

.not-active {
  @apply text-sm py-2 px-5 cursor-pointer
}

/* スケジュールのタブ */
#schedule_index .is-active {
  @apply rounded-full bg-primary text-white text-sm py-2 px-5 cursor-pointer
}

#schedule_index .not-active {
  @apply rounded-full bg-base-200 text-sm py-2 px-5 cursor-pointer
}