<p><%= @resource.name %>様</p>
<p>たびくりっぷをご利用いただきありがとうございます。</p>
<p>パスワード再設定用のURLを送付いたします。<br>以下のURLより、変更をお願いいたします。</p>
<p><%= link_to "再設定用URL", edit_password_url(@resource, reset_password_token: @token) %></p>
